print("hello world")

In [3]:
a=6
print("the type of",type(a))
b=6.98
print("the type of",type(b))
c=1+3j
print("type of c",type(c))
print("c is a complex no",isinstance(1+3j,complex))

the type of <class 'int'>
the type of <class 'float'>
type of c <class 'complex'>
c is a complex no True

In [5]:
str1='python learner'
str2='how are you'
print(str1[0:2])
print(str1[4])
print(str1*2)
print(str1+str2)

py
o
python learnerpython learner
python learnerhow are you

In [7]:
list1=[1,"hi","python",]
list1.append("jp")
print(type(list1))
print(list1)

<class 'list'>
[1, 'hi', 'python', 'jp']

In [8]:
tup=("123","asdf",1)
print(type(tup))
print(tup)
print(tup[1:])
print(tup[0:1])
print(tup+tup)
print(tup*3)

<class 'tuple'>
('123', 'asdf', 1)
('asdf', 1)
('123',)
('123', 'asdf', 1, '123', 'asdf', 1)
('123', 'asdf', 1, '123', 'asdf', 1, '123', 'asdf', 1)

In [10]:
roll=[1,2,3,4,5,6,7]
name=['j','k','l','m']
data=list(zip(roll,name))

In [11]:
print(data)

[(1, 'j'), (2, 'k'), (3, 'l'), (4, 'm')]

In [12]:
d={101:'q',102:'r',103:'s',104:'t'}
print(d)
print("1st name is"+d[101])
print("2nd name is"+d[102])
print(d.keys())
print(d.values())
copied_dict=d.copy()
print(copied_dict)

{101: 'q', 102: 'r', 103: 's', 104: 't'}
1st name isq
2nd name isr
dict_keys([101, 102, 103, 104])
dict_values(['q', 'r', 's', 't'])

In [13]:
del d[103]

In [14]:
d

{101: 'q', 102: 'r', 104: 't'}

In [17]:
print(type(True))
print(type(False))
print(False)

<class 'bool'>
<class 'bool'>
False

In [18]:
set1=set()
set2={'j',2,3,'v','p',2,3}
print(set2)
set2.add(10)
print(set2)
set2.remove(2)
print(set2)

{'v', 2, 3, 'j', 'p'}
{'v', 2, 3, 'j', 10, 'p'}
{'v', 3, 'j', 10, 'p'}